<div class="page-header">
  <h3>User #<%= @user.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Email</dt>
      <dd><%= @user.email %></dd>

      <dt>Password</dt>
      <dd><%= @user.password %></dd>

      <dt>First name</dt>
      <dd><%= @user.first_name %></dd>

      <dt>Last name</dt>
      <dd><%= @user.last_name %></dd>

      <dt>Linkedin url</dt>
      <dd><%= @user.linkedin_url %></dd>

      <dt>Profile picture</dt>
      <dd><img src="<%= @user.profile_picture %>" class="img-responsive"></dd>

      <dt>Title</dt>
      <dd><%= @user.title %></dd>

      <dt>Company</dt>
      <dd><%= @user.company %></dd>

      <dt>Summary</dt>
      <dd><%= @user.summary %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/users" class="btn btn-primary">
        Back
      </a>
    </div>
  </div>
</div>

<!-- A User has many comments -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Comments
      </li>

      <% @user.comments.each do |comment| %>
        <li class="list-group-item">
          <a href="/comments/<%= comment.id %>">
            <%= comment.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/comments/<%= comment.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <%if current_user == comment.user %>
              <a href="/comments/<%= comment.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>
              <a href="/delete_comment/<%= comment.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A User has many events -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Events
      </li>

      <% @user.events.each do |event| %>
        <li class="list-group-item">
          <a href="/events/<%= event.id %>">
            <%= event.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/events/<%= event.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <%if current_user == event.user %>
              <a href="/events/<%= event.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>
              <a href="/delete_event/<%= event.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A User has many invitations -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Invitations
      </li>

      <% @user.invitations.each do |invitation| %>
        <li class="list-group-item">
          <a href="/invitations/<%= invitation.id %>">
            <%= invitation.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/invitations/<%= invitation.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <%if current_user == invitation.user %>
              <a href="/invitations/<%= invitation.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>
              <a href="/delete_invitation/<%= invitation.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A User has many commented_events -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Commented Events
      </li>

      <% @user.commented_events.each do |event| %>
        <li class="list-group-item">
          <a href="/events/<%= event.id %>">
            <%= event.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/events/<%= event.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <%if current_user == event.user %>
              <a href="/events/<%= event.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>
              <a href="/delete_event/<%= event.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A User has many attended_events -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Attended Events
      </li>

      <% @user.attended_events.each do |event| %>
        <li class="list-group-item">
          <a href="/events/<%= event.id %>">
            <%= event.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/events/<%= event.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <%if current_user == event.user %>
              <a href="/events/<%= event.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>
              <a href="/delete_event/<%= event.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
