<div class="page-header">
  <h3>Event #<%= @event.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd>
        <% if @event.user.present? %>
          <a href="/users/<%= @event.user_id %>">
            <%= @event.user.email %>
          </a>
        <% end %>
      </dd>

      <dt>Restaurant</dt>
      <dd>
        <% if @event.restaurant.present? %>
          <a href="/restaurants/<%= @event.restaurant_id %>">
            <%= @event.restaurant.name %>
          </a>
        <% end %>
      </dd>

      <dt>Host</dt>
      <dd><%= @event.host %></dd>

      <dt>Title</dt>
      <dd><%= @event.title %></dd>

      <dt>Description</dt>
      <dd><%= @event.description %></dd>

      <dt>Time</dt>
      <dd><%= @event.time %></dd>

      <dt>Date</dt>
      <dd><%= @event.date %></dd>

      <dt>Available</dt>
      <dd><%= @event.available %></dd>

      <dt>Capacity limit</dt>
      <dd><%= @event.capacity_limit %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/events" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @event.user %>
        <a href="/events/<%= @event.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_event/<%= @event.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>

<!-- A Event has many comments -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Comments
      </li>

      <% @event.comments.each do |comment| %>
        <li class="list-group-item">
          <a href="/comments/<%= comment.id %>">
            <%= comment.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/comments/<%= comment.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/comments/<%= comment.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_comment/<%= comment.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_comment" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <input type="hidden" name="user_id" value="<%= current_user.id %>">

      <!-- Label and input for event_id -->
      <input type="hidden" name="event_id" value="<%= @event.id %>">

      <!-- Label and input for body -->
      <div class="form-group">
        <label for="body" class="control-label">
          Body
        </label>

        <textarea id="body" name="body" placeholder="Body" class="form-control" rows="3"></textarea>
      </div>

      <button class="btn btn-block btn-success">
        Create Comment
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Event has many invitations -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Invitations
      </li>

      <% @event.invitations.each do |invitation| %>
        <li class="list-group-item">
          <a href="/invitations/<%= invitation.id %>">
            <%= invitation.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/invitations/<%= invitation.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/invitations/<%= invitation.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_invitation/<%= invitation.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_invitation" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email), :class => "form-control") %>
      </div>

      <!-- Label and input for event_id -->
      <input type="hidden" name="event_id" value="<%= @event.id %>">

      <!-- Label and input for host_approval -->
      <div class="checkbox">
        <label for="host_approval">
          <input type="checkbox" id="host_approval" name="host_approval" value="1" <%= "checked" if @invitation.host_approval %>>
          Host approval
        </label>
      </div>

      <!-- Label and input for guest_approval -->
      <div class="checkbox">
        <label for="guest_approval">
          <input type="checkbox" id="guest_approval" name="guest_approval" value="1" <%= "checked" if @invitation.guest_approval %>>
          Guest approval
        </label>
      </div>

      <!-- Label and input for confirmed_reservation -->
      <div class="checkbox">
        <label for="confirmed_reservation">
          <input type="checkbox" id="confirmed_reservation" name="confirmed_reservation" value="1" <%= "checked" if @invitation.confirmed_reservation %>>
          Confirmed reservation
        </label>
      </div>

      <!-- Label and input for public_request -->
      <div class="checkbox">
        <label for="public_request">
          <input type="checkbox" id="public_request" name="public_request" value="1" <%= "checked" if @invitation.public_request %>>
          Public request
        </label>
      </div>

      <!-- Label and input for title -->
      <div class="form-group">
        <label for="title" class="control-label">
          Title
        </label>

        <input type="text" id="title" name="title" placeholder="Title" class="form-control" value="">
      </div>

      <!-- Label and input for description -->
      <div class="form-group">
        <label for="description" class="control-label">
          Description
        </label>

        <textarea id="description" name="description" placeholder="Description" class="form-control" rows="3"></textarea>
      </div>

      <button class="btn btn-block btn-success">
        Create Invitation
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Event has many commenters -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Commenters
      </li>

      <% @event.commenters.each do |user| %>
        <li class="list-group-item">
          <a href="/users/<%= user.id %>">
            <%= user.email %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/users/<%= user.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/users/<%= user.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_user/<%= user.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Event has many attendees -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Attendees
      </li>

      <% @event.attendees.each do |user| %>
        <li class="list-group-item">
          <a href="/users/<%= user.id %>">
            <%= user.email %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/users/<%= user.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/users/<%= user.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_user/<%= user.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
