<!-- Validation failure messages -->
<% if @invitation.errors.any? %>
  <% @invitation.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Invitation #<%= @invitation.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_invitation/<%= @invitation.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <input type="text" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= @invitation.user_id %>">
      </div>

      <!-- Label and input for event_id -->
      <div class="form-group">
        <label for="event_id" class="control-label">
          Event
        </label>

        <input type="text" id="event_id" name="event_id" placeholder="Event" class="form-control" value="<%= @invitation.event_id %>">
      </div>

      <!-- Label and input for host_approval -->
      <div class="checkbox">
        <label for="host_approval">
          <input type="checkbox" id="host_approval" name="host_approval" value="1" <%= "checked" if @invitation.host_approval %>>
          Host approval
        </label>
      </div>

      <!-- Label and input for guest_approval -->
      <div class="checkbox">
        <label for="guest_approval">
          <input type="checkbox" id="guest_approval" name="guest_approval" value="1" <%= "checked" if @invitation.guest_approval %>>
          Guest approval
        </label>
      </div>

      <!-- Label and input for confirmed_reservation -->
      <div class="checkbox">
        <label for="confirmed_reservation">
          <input type="checkbox" id="confirmed_reservation" name="confirmed_reservation" value="1" <%= "checked" if @invitation.confirmed_reservation %>>
          Confirmed reservation
        </label>
      </div>

      <!-- Label and input for public_request -->
      <div class="checkbox">
        <label for="public_request">
          <input type="checkbox" id="public_request" name="public_request" value="1" <%= "checked" if @invitation.public_request %>>
          Public request
        </label>
      </div>

      <!-- Label and input for title -->
      <div class="form-group">
        <label for="title" class="control-label">
          Title
        </label>

        <input type="text" id="title" name="title" placeholder="Title" class="form-control" value="<%= @invitation.title %>">
      </div>

      <!-- Label and input for description -->
      <div class="form-group">
        <label for="description" class="control-label">
          Description
        </label>

        <textarea id="description" name="description" placeholder="Description" class="form-control" rows="3"><%= @invitation.description %></textarea>
      </div>

      <button class="btn btn-warning">
        Update Invitation
      </button>
      or
      <a href="/invitations/<%= @invitation.id %>">Cancel</a>
    </form>
  </div>
</div>
