<div class="page-header">
  <h3>Restaurant #<%= @restaurant.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @restaurant.name %></dd>

      <dt>Description</dt>
      <dd><%= @restaurant.description %></dd>

      <dt>Location</dt>
      <dd><%= @restaurant.location %></dd>

      <dt>Website</dt>
      <dd><%= @restaurant.website %></dd>

      <dt>Yelp link</dt>
      <dd><%= @restaurant.yelp_link %></dd>

      <dt>Price</dt>
      <dd><%= @restaurant.price %></dd>

      <dt>Categories</dt>
      <dd><%= @restaurant.categories %></dd>

      <dt>Picture url</dt>
      <dd><img src="<%= @restaurant.picture_url %>" class="img-responsive"></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/restaurants" class="btn btn-primary">
        Back
      </a>
      <a href="/restaurants/<%= @restaurant.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_restaurant/<%= @restaurant.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Restaurant has many events -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Events
      </li>

      <% @restaurant.events.each do |event| %>
        <li class="list-group-item">
          <a href="/events/<%= event.id %>">
            <%= event.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/events/<%= event.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/events/<%= event.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_event/<%= event.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_event" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <input type="hidden" name="user_id" value="<%= current_user.id %>">

      <!-- Label and input for restaurant_id -->
      <input type="hidden" name="restaurant_id" value="<%= @restaurant.id %>">

      <!-- Label and input for host -->
      <div class="form-group">
        <label for="host" class="control-label">
          Host
        </label>

        <input type="text" id="host" name="host" placeholder="Host" class="form-control" value="">
      </div>

      <!-- Label and input for title -->
      <div class="form-group">
        <label for="title" class="control-label">
          Title
        </label>

        <input type="text" id="title" name="title" placeholder="Title" class="form-control" value="">
      </div>

      <!-- Label and input for description -->
      <div class="form-group">
        <label for="description" class="control-label">
          Description
        </label>

        <textarea id="description" name="description" placeholder="Description" class="form-control" rows="3"></textarea>
      </div>

      <!-- Label and input for time -->
      <div class="form-group">
        <label for="time" class="control-label">
          Time
        </label>

        <input type="text" id="time" name="time" placeholder="Time" class="form-control" value="">
      </div>

      <!-- Label and input for date -->
      <div class="form-group">
        <label for="date" class="control-label">
          Date
        </label>

        <input type="text" id="date" name="date" placeholder="Date" class="form-control" value="">
      </div>

      <!-- Label and input for available -->
      <div class="checkbox">
        <label for="available">
          <input type="checkbox" id="available" name="available" value="1" <%= "checked" if @event.available %>>
          Available
        </label>
      </div>

      <!-- Label and input for capacity_limit -->
      <div class="form-group">
        <label for="capacity_limit" class="control-label">
          Capacity limit
        </label>

        <input type="text" id="capacity_limit" name="capacity_limit" placeholder="Capacity limit" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Event
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
